

.catalogue{
    padding-top: 50px;
    display: flex;
    flex-direction:column;
    padding-bottom: 60px;
}

.filtre-aside{
    display: flex;
    flex-direction: column;
    background-color: var(--second_background-color);
    gap: 30px;
    max-width: 25%;
    min-width: 350px;
    height: fit-content;
    padding: 1.5rem 1rem;

}
    

.filtre-aside span{
    text-transform: uppercase;
    font-family: var(--headings-font-family);
    display: flex;
    align-items: center;
    gap: 5px;
}

.filtre-aside div>span:first-child{
    font-size: 14px;
}

.filtre-aside [name="pays"]{
    padding: 10px 16px;
    font-size: 16px;

}


.filtre-aside [name="pays"],
.filtre-aside [type=number]{
 padding: 10px 16px;
 appearance: textfield;
 border: 0;
 background: transparent;
 border: 1px solid var(--border_card-color) ;
 max-width: 130px;
 font-size: 16px;

}

.filtre-aside p,
.filtre-aside h3{
    font-size: 18px;
    font-family: var(--headings-font-family);
    font-weight: 400;
}

.filtre-aside p{
    font-size: 16px;
    font-weight: 300;
}

.filtre-aside>div:first-of-type div{
    display: flex;
    align-items: baseline;
    width: 100%;
    font-family: var(--text-font-family);
    justify-content: space-between;
    padding-top: 1rem;
}


.filtre-aside .btn-remettre{
    height: auto;
    padding: 10px;
    background: transparent;
    border: 1px solid var(--border_card-color);
 }
  


.filtre-aside>div{
    padding-bottom: 20px;
    border-bottom:  1px solid var(--border_card-color) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.filtre-aside>div .champ-double{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  padding-top: 1rem;
}
    
    
.filtre-aside>button:last-child{
    align-self: center;
    width: 100%;
    background-color: var(--main_accent-color);
    color: var(--main_background-color);
}
.filtre-aside>button:last-child:hover{
background-color: transparent;
border: 1px solid var(--border_card-color);
color: var(--main_accent-color);
}
    
    
.filtre,
.catalogue>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1rem;
    
}


.catalogue .grid-card{
  flex-basis: 72%;
}


.catalogue .btns-pages {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


.filtre{
    padding-bottom: 50px;
    align-items: center;
}
   



.filtre button{
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--headings-font-family);
    color: var(--filtre_text-color);
    white-space: nowrap;
    background-color: transparent;
    width: fit-content;
    text-transform: uppercase;
    text-align: center;
}

.filtre span{
    display: block;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--headings-font-family);
    color: var(--main_accent-color);
    /* border-right:  1px solid var(--border_card-color); */
    
}
    
.filtre-aside .btn-remettre,
.filtre .btn-vue{
 width: 47px;
 display: flex;
 justify-content: center;
}


.filtre .btn-vue:hover{
    border: 1px solid var(--border_card-color);
}
 


.filtre button:focus,
.filtre button:hover,
.catalogue [name="trie"],
.filtre input{
    height: 47px;
    padding: 0 16px;
    font-size: 16px !important;
    background: 0;
    border: 1px solid var(--border_card-color);
    border-radius: 3px;
}
   



.filtre button:hover,
.filtre button:focus{
    color: var(--main_accent-color);
}


.filtre button:focus,
.filtre button:hover{
    background:var(--second_background-color);
    font-size: 18px;
}

.catalogue .btns-pages{
    padding-top: 50px;
    justify-content: center;
}
   


.catalogue .btns-pages span{
    padding: 10px 16px;
    border: 1px solid var(--border_card-color);
    font-family: var(--text-font-family);
    cursor: pointer;
}
.catalogue .btns-pages span:hover{
    background:var(--second_background-color);

}

.catalogue .btns-pages img{
    cursor: pointer;
}


@media only screen and (max-width: 1178px) {
   
      .catalogue .grid-card {
        flex-basis: 54%;
      }
  }
@media only screen and (max-width: 540px) {
   
    .filtre {
        align-items: center;
        flex-direction: column;
        flex-wrap: unset;
    }


    .filtre .btn-vue {
        width: 47px !important;
    }

    .filtre > *:not(.filtre span) {
        width: 100%;
    }

  


  }
  

